.featured__cards {
  width: 70%;
  margin: auto;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 3rem;

}

.card {
  display: grid;
  border: 2px solid #e7e7e7;
  border-radius: 7px;
  padding: .5rem -10rem;
}

.card__img {
  height: 15rem;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;

}

img {
  width: 110%;
  height: 15rem;
  object-fit: cover;
  margin-left: -1rem;
  /* margin-top: rem; */
}

.card__button {

}

.card__header {
  text-align: center;
  font-size: 1rem;
  padding: 0 .5rem;
}
