.container {
  width: 80%;
}

.featured__cards {
  width: 100%;
  margin: auto;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 2rem 0;
  width: 100%;
}


.card {
  display: grid;
  grid-template-rows: 2fr 1fr;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
  margin: 0;
}

.card__img {
  height: 12rem;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;

}

.card__img img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  /* margin-left: -1rem; */
}


.card_info {

  line-height: 1.6;
  overflow: hidden;
  width: 100%;
  padding: 7px;
}


.card_info_cat{
  font-size: .8rem;
  width: 100%;
}

.card__header {
  color: #2f2f2f;
  font-size: .9rem;
  font-weight: bold;
  overflow: hidden;
}

.card_info__rating {
  font-size: .8rem;
}
