.App {

  background-color: #474747;
}

a:link{
  color: rgb(121,91,0);
  text-decoration: none;
}

a:hover{
  color:  #cca353;
  text-decoration: underline;
}


.container {

  background-color: #fff;
  width: 70%;
  margin: auto;
  padding: 2rem;
}

.header{
  height: 5rem;
  font-family: 'Kelly Slab';
  background-color: #cca353;
  margin: 0;
  padding: 5px 0;
  font-size: 4rem;
  color:white;
  font-weight: 600;
  opacity: .6;
}

.h2{
    text-align: center;
  height: 2rem;
  font-family: 'Kelly Slab';
    background-color: #cca353;
    border-radius: 5px;
    padding:.5rem;
    font-size: 2rem;
    color:white;
    font-weight: 500;
    opacity: .6;
}
