@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900|Raleway:400,500,600,700,800,900|Titillium+Web:400,600,700');
.App {
font-family: 'Raleway', sans-serif;
  background-color: rgb(27,31,60);
  z-index: 0;
}

a:link{
  color: rgb(121,91,0);
  text-decoration: none;
}

a:hover{
  color:  #cca353;
  text-decoration: underline;
}

.searchContainer {
  position: relative;
    z-index: 0;
}

/* .App_container {
  padding-top: 10rem;
} */

.container {
  position: relative;
  background-color: #fff;
  width: 70%;
  margin: auto;
  padding: 3rem 0;
  z-index: 2;
  border: 2px white solid;
  border-radius: 3px;

}

.img_container {
    position: absolute;
    height: 90vh;
    width: 100vw;

}

.img_container img {

  width: 100vw;
  height: 90vh;
  object-fit:cover;
  opacity: .9;
  filter: contrast(120%) saturate(125%) brightness(104%);
  background-image: linear-gradient(rgba(255,255,255,1), rgb(47,47,47));
}


.img_container::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, transparent 0%, rgb(27,31,60) 100%);
  margin-top: -35rem;
  height: 35rem;
  width: 100%;
  content: '';
  z-index: 0;
}

.header{
  height: 5rem;
  font-family: 'Kelly Slab';
  background-color: rgb(204,163,83);
  margin: 0;
  padding: 1rem 9rem;
  font-size: 4rem;
  color:white;
  font-weight: 100;

}

.h2{
    text-align: center;
    height: 2rem;
    font-family: 'Kelly Slab';
    /* background-color: #cca353; */
    border-radius: 5px;
    padding:.5rem;
    font-size: 2rem;
    color:#cca353;
    font-weight: 500;
    border-bottom: #cca353 2px solid;
}
